<div id="{{id}}" class="alert {{style_class|default('alert-success')}}" role="alert">
	 <strong>{{strong_text|default('')}}</strong> {{alert_text|default('You successfully read this important alert message.')}}
</div>