<div id="{{id}}" class="panel {{style_class|default('panel-primary')}}">
  <div class="panel-heading">
    <h3 class="panel-title">{{panel_title|default('Panel title')}}</h3>
  </div>
  <div class="panel-body">
    {{panel_body|default('Panel content')}}
  </div>
</div>